<div class="paymentDet row" *ngIf="order && showCard" [id]="selectedOrderId">
  <mat-card class="custom-card row" *ngIf="showCard">
    <mat-card-title>
      <label>Order: {{id}}</label>
      <label>Table: </label>
    </mat-card-title>
    <mat-card-actions align="start">
      <div class="column-container">
        <div class="column-item">Name:</div>
        <div class="column-item">Quantity:</div>
        <div class="column-item">Price:</div>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div *ngFor="let orderDetail of order.orderDetails; let i=index">
        <div class="container_details">
          <div class="details-item">{{orderDetail.item.name}}</div>
          <div class="details-item">{{orderDetail.quantity}}</div>
          <div class="details-item">{{orderDetail.item.price}}</div>
          <div class="details-item">
            <input type="checkbox" [(ngModel)]="orderDetail.isChecked" (ngModelChange)="updateSubTotal()">
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <button class="button" (click)="openPayment()">Pay</button>
    </mat-card-footer>
  </mat-card>
</div>