mat-card-title{
  padding: 7px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15px;
  margin-top: 7px;
  margin-bottom: 3px;
}
.closeIcon {
  position: absolute;
  top:-12px;
  right: 0px;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}
.closeIcon:hover{
  color: red;
}
.paymentDet{
  display: flex;
  width: 300px;
  height: 520px;
  border-radius: 7px;
  box-shadow: 0px 20px 20px 20px inherit;
  position: relative;
  top: 10px;
  background-color: inherit;
  transform: translateX(25%);
}
.custom-card {
  display: flex;
  width: 300px;
  height: 491px;
  top: 28px;
}
@media (max-width: 768px) {
  .custom-card  {
    margin: auto;
    transform: none;
  }
}

.column-item {
  display: table-cell;
  padding: 5px 10px;
  font-weight: bold;
  font-size: medium;
  border-bottom: 1px solid #ccc;
}
.column-item:not(:last-child) {
  border-right: 1px solid #ccc;
}
.column-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #ccc;
}