<div class="paymentDet row" *ngIf="order && showCard" [id]="selectedOrderId">
  <mat-card class="custom-card row" *ngIf="showCard">
    <mat-card-title>
      <label>Order: {{id}}</label>
      <label>Table: {{order.tableID}}</label>
      
    </mat-card-title>
    <mat-card-actions align="start">
      <div class="column-container">
        <div class="details-item"><span>Name</span></div>
        <div class="details-item"><span>Qnt</span></div>
        <div class="details-item"><span>Price</span></div>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div *ngFor="let orderDetail of order.orderDetails">
        <div class="container_details">
          <div class="details-item"><span>{{orderDetail.item.name}}</span></div>
          <div class="details-item"><span>{{orderDetail.quantity}}</span></div>
          <div class="details-item"><span>{{orderDetail.item.price}}</span></div>
          <div class="details-item">
            <input type="checkbox" [(ngModel)]="orderDetail.isChecked" [ngClass]="{'disabled':orderDetail.isPaid }"
            [disabled]="orderDetail.isPaid"
            (ngModelChange)="updateSubTotal()">
          </div>
        </div>
      </div>
    </mat-card-content>
    <div class="payButtonContainer row">
      <button class="button payButton" (click)="openPayment()">Pay</button>
    </div>
  </mat-card>
</div>