<mat-card class="custom-card">
  <mat-card-title>
      <label class="alignLeft">Order: {{id}}</label>
      <label class="alignRight">Table: </label>
  </mat-card-title>

  <mat-card-actions align="start">
    <div class="column-container">
      <div class="column-item">Currency</div>
      <div class="column-item">Remaining:</div>
      <div class="column-item">Total</div>
    </div>
  </mat-card-actions>

  <mat-card-actions class="buttons-container">
    <button class="paymentButton" (click)="openPayment()">pay</button>
    <button class="cancelButton">cancel</button>
  </mat-card-actions>
</mat-card>