mat-card-title {
  padding: 7px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 15px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.custom-card {
  width: 300px;
  height: 491px;
  top: 28px;
}

@media (max-width: 768px) {
  .custom-card {
    margin: auto;
    transform: none;
  }
}

.column-item {
  display: table-cell;
  padding: 5px 10px;
  font-weight: bold;
  font-size: medium;
  border-bottom: 1px solid #ccc;
}

.column-item:not(:last-child) {
  border-right: 1px solid #ccc;
}

.column-container {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #ccc;
}

.container_details {
  padding: 2px;
  background-color: whitesmoke;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  height: 40px;
  width: 100%;
}

.details-item {
  display: table-cell;
  padding: 5px 10px;
  font-weight: bold;
  font-size: medium;
  justify-content: space-between;
}