
.alignleft {
  margin: 10px;
  float: right;
  font-size: large;
}

.alignright {
  margin: 10px;
  float: left;
  font-size: larger;
}
.custom-card {
  display: flex;
  width:400px;
  height: 500px;
  border: 1px solid grey;
  box-shadow: 0 20px 50px 0 rgba(2, 0, 0, 0.2);
  transform: translateX(200px);
}

@media (max-width: 768px) {
  .custom-card {
    width: 100%;
    margin: 7px;
    transform: none;
  }
}
.paymentButton {
  background-color: #8AE6F9;
}
.buttton-card{
  margin:10px;
}
.cancleButton {
  background-color: red;
}

.paymentButton,.cancleButton{
  color:white;
  border-radius: 10px;
  border: none;
  margin:10p;
  display: block;
  width: 80px;
  height: 40px;
  font-size: 14px;
}
