<div class="search-container">
	<input type="text" [(ngModel)]="searchQuery" placeholder="Search items" (keyup)="filterItems()">
	<mat-icon>search</mat-icon>
</div>
<div *ngIf="categories" class="categories">
	<a (click)="getAllItems()">All</a>
	<a *ngFor="let category of categories" routerLink="/categories/{{category.categoryID}}">
		{{category.name}}
	</a>
</div>
<div class="container">
	<div class="item_container row" >
		<mat-card class="items" *ngFor="let item of filteredItems" (click)="addToOrder(item)" class="mat-card">
			<img class="itemImg" mat-card-image src="{{item.imageUrl}}">
			<mat-card-content calss="items_content">
				<div class="name">{{item.name}}</div>
				<div class="price">
					<span>{{item.price | currency:"ILS"}}</span>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
	<div *ngIf="order?.orderDetails?.length">
		<table>
			<thead>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of order.orderDetails">
					<td>{{item.item.name}}</td>
					<td>{{item.quantity}}</td>
				</tr>
			</tbody>
		</table>
		<div class="selection" *ngIf="">
			<h3>Selected Items:</h3>
			<mat-card-actions class="bill" align="start">
				<div class="column-container">
					<div class="column-item">name</div>
					<div class="column-item">total:</div>
					<div class="column-item">quentity</div>
				</div>
			</mat-card-actions>
			<ul class="selected-items">
				<li *ngFor="let item of order.orderDetails">
					{{item.item.name}}
					{{item.item.price * item.quantity}}
					{{item.quantity}}
				</li>
				<button class="cancelButton">cancel</button>
			</ul>
		</div>
		<button (click)="addSelectedItemsToOrder()" style="color: red;">Add to Order</button>
	</div>
</div>