<div *ngIf="categories" class="categories">
	<a (click)="getAllItems()">All</a>
	<a *ngFor="let category of categories" routerLink="/categories/{{category.categoryID}}">
		{{category.name}}
	</a>
</div>
<ul>
	<li *ngFor="let item of items">
		<a (click)="addToOrder(item)">
			<img alt="" src="{{item.imageUrl}}">
			<div class="content">
				<div class="name">{{item.name}}</div>
				<div class="price">
					<span>{{item.price | currency:"ILS"}}</span>
				</div>
			</div>
		</a>
	</li>
	<div class="selection" *ngIf="selectedItems.length > 0">
		<h3>Selected Items:</h3>
		<ul class="selected-items">
		  <li *ngFor="let item of selectedItems">
			{{item.name}}
		  </li>
		</ul>
		<div class="selected-items-button">
		  <button (click)="addSelectedItemsToOrder()">Add to Order</button>
		</div>
	  </div>
	  
</ul>
