<div *ngIf="categories" class="categories">
	<a (click)="getAllItems()">All</a>
	<a *ngFor="let category of categories" routerLink="/categories/{{category.categoryID}}">
		{{category.name}}
	</a>
</div>
<ul>
	<li *ngFor="let item of items">
		<a (click)="addToOrder(item)">
			<img alt="" src="{{item.imageUrl}}">
			<div class="content">
				<div class="name">{{item.name}}</div>
				<div class="price">
					<span>{{item.price | currency:"ILS"}}</span>
				</div>
			</div>
		</a>
	</li>
	<mat-card class="custom-card">
	<div class="selection" *ngIf="selectedItems.length > 0">
		<h3>Selected Items:</h3>
		<mat-card-actions align="start">
			<div class="column-container">
			  <div class="column-item">name</div>
			  <div class="column-item">total:</div>
			  <div class="column-item">quentity</div>
			</div>
		  </mat-card-actions>
		<ul class="selected-items">
		  <li *ngFor="let item of selectedItems">
			{{item.name}}
			{{item.price}}
		  </li>
		</ul>
		
		<mat-card-actions class="selected-items-button" class="buttons-container">
		    <button class="cancelButton">cancel</button>
			<button class="paymentButton" (click)="addSelectedItemsToOrder()">Add to Order</button>
		</mat-card-actions>
	  </div>
	  </mat-card>
</ul>
