<div class="frequency-selling">
    <h1>Statistics</h1>
    <div class="frequency row">
        <div class="freq-items">
            <div class="title">Items selling</div>
            <div class="nav"></div>
            <div class="chart-container">
                <canvas baseChart type="pie" [data]="pieChartItemssellings"></canvas>
            </div>
        </div>
        <div class="monthly-report">
            <div class="title">Users sales</div>
            <div class="nav"></div>
            <div calss="chart-wrapper">
                <canvas baseChart type="pie" [data]="pieChartUsersales"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="sales-reports">
    <h1>Sales reports</h1>
    <div class="chart-container row">
        <div class="monthly-report">
            <div class="title">Monthly sales</div>
            <div class="nav"></div>
            <div calss="chart-wrapper">
                <canvas baseChart width="600" height="400" type="bar" [data]="barChartDataMonthly"></canvas>
            </div>
        </div>
        <div class="daily-report">
            <div class="title">Daily sales</div>
            <div class="nav"></div>
            <div class="chart-wrapper">
                <canvas baseChart width="600" height="400" type="bar" [data]="barChartDataDaily"></canvas>
            </div>
        </div>
    </div>
</div>