table {
  border-radius: 20px;
  width: 768px;
}


.orders {
  height: calc(100vh - 100px);
  overflow: auto;
}


td {
  text-align: center;
  padding: 5px;
  background-color: #FAFAFA;
}

th {
  text-align: center;
  padding: 5px;
  background-color: #EAF0F0;
  color: black;
}

