<div class="align-table">
	<div class="orders">
		<table [dataSource]="orders" mat-table>
			<ng-container matColumnDef="OrderID">
				<th *matHeaderCellDef mat-header-cell> Order ID</th>
				<td *matCellDef="let order " mat-cell> {{order.id}} </td>
			</ng-container>
			<ng-container matColumnDef="total">
				<th *matHeaderCellDef mat-header-cell> Total</th>
				<td *matCellDef="let order" mat-cell> {{order.total}} </td>
			</ng-container>
			<ng-container matColumnDef="details">
				<th *matHeaderCellDef mat-header-cell> Details</th>
				<td *matCellDef="let order" mat-cell> {{order.OrderNote}} </td>
			</ng-container>
			<ng-container matColumnDef="pay">
				<th *matHeaderCellDef mat-header-cell></th>
				<td *matCellDef="let order" mat-cell>
					<button (click)="goToPayments(order.id)" class="paymentButton" mat-raised-button>Pay</button>
				</td>
			</ng-container>
			<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
		</table>
	</div>

	<app-orders-payment-details [id]="selectedOrderId"></app-orders-payment-details>
</div>
