table {
  border-radius: 20px;
  width:768px;
  
}

.orders{
  overflow: scroll;
  }


 td {
  text-align: center;
  padding: 5px;
  background-color: #FAFAFA;
}
.align-table{
  display:flex;
  height:100%;
}
th {
  text-align: center;
  padding: 5px;
  background-color: #EAF0F0;
  color: black;
}
.paymentButton {
  background-color: #8AE6F9;
  border-radius: 10px;
  border: none;
  color: white;
  width: 84px;
  height: 39px;
  font-size: 14px;
}
